{% extends 'base.html' %}

{% block title %}Delete Tag{% endblock %}

{% block content %}
<div class="confirmation-container">
    <h1 class="confirmation-title">Delete Tag</h1>
    <p class="confirmation-text">
        Are you sure you want to delete "<strong>{{ tag.name }}</strong>"?
    </p>
    
    <form method="post" class="confirmation-form">
      
    {% csrf_token %}
    <div class "confirmation-buttons">
        <button type="submit" class="btn btn-primary action-btn">Yes</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'tags:list_tags' %}'">Cancel</button>

    </div>  
    </form>
</div>
{% endblock %}

