/* Contenedor Principal */
.currency-converter-container {
    max-width: 850px; 
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-y:hidden;
    overflow-x:hidden;
    scrollbar-width: none;
}

/* Títulos */
.converter-title {
    font-size: 2rem; 
    color: #003366;
    margin-bottom: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}

/* Formulario */
.converter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    scrollbar-width: none;
}

.form-group {
    width: 100%;
    max-width: 400px;
    text-align: left;
    scrollbar-width: none;
}

.currency-input {
    width: 100%;
    padding: 0.6rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
}

.currency-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

/* Botón Convert */
.converter-btn {
    width: 150px;
    padding: 0.6rem 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.converter-btn:hover {
    background-color: #0056b3;
}

/* Tabla */


.currency-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem; 
    text-align: center;
}

.currency-table th {
    background-color: #003366;
    color: white;
    padding: 0.5rem ;
    position: sticky; 
    top: 0;
    z-index: 1;
    min-height: 10px;
    font-size: 1rem; 
}


.currency-table td {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
}

.currency-table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.currency-table tr:nth-child(even) {
    background-color: #ffffff;
}

/* Mensaje de Error */
.currency-error {
    color: #dc3545;
    font-weight: bold;
    margin-top: 1rem;
}
