/* Estilo Global */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Contenedores */
.profile-container, .edit-profile-container {
    max-width: 500px;
    margin: auto;
    padding: 2rem;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-title, .edit-profile-title {
    font-size: 2rem;
    color: #003366;
    margin-bottom: 1rem;
    font-weight: bold;
}

/* Balance */
.profile-balance {
    font-size: 1.5rem;
    font-weight: bold;
}

.profile-balance.positive {
    color: #28a745;
}

.profile-balance.negative {
    color: #dc3545;
}

/* Botón flotante */
.add-transaction-button {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: transform 0.3s, background-color 0.3s;
}

.add-transaction-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

/* Formulario */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.styled-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #003366;
}

input, select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

input:focus, select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

/* Botones */
.btn {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 40px;
    width: 120px;
    text-decoration: none; 
    border: none; 
    text-align: center;
    margin-bottom:1rem;
}

.btn:hover {
    background-color: #0056b3;
}

/* Link */
.back-link {
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.back-link:hover {
    color: #0056b3;
}

/* Responsividad */
@media (max-width: 768px) {
    .profile-container, .edit-profile-container {
        padding: 1rem;
    }

    .profile-title, .edit-profile-title {
        font-size: 1.5rem;
    }

    .add-transaction-button {
        width: 50px;
        height: 50px;
        font-size: 1.3em;
    }
}
