/* Contenedor principal */ 
.financial-report-container {
    max-width: 1000px; 
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-y: hidden;
}

.report-title {
    font-size: 2rem;
    font-weight: bold;
    color: #003366;
    margin-bottom: 1rem;
    text-align: center;
}

.summary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;
    flex-wrap: wrap; 
}

.summary-item {
    width: 30%; 
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.summary-item h4 {
    font-size: 1.3em;
    font-weight: bold;
    color: #003366;
}

.total-amount {
    font-size: 1.5em;
    margin-top: 10px;
}

.total-transactions {
    font-size: 1.2em;
    color: #555;
    margin-top: 5px;
}

.total-amount.income {
    color: #28a745; 
}

.total-amount.expense {
    color: #dc3545;
}

/* Filtros de Tiempo */
.filters-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.filters-form select {
    height: 40px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    width: 200px; 
    text-align: center;
}

.filters-form select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Gráfico de Pastel */
.chart-section {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.chart-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Gráfico de Barras */
.chart-wrapper {
    width: 100%;
    overflow-x: auto;
    margin-top: 1rem;
}

.chart-wrapper img {
    max-width: 100%;
    border-radius: 8px;
}

/* Responsividad */
@media (max-width: 768px) {
    .summary {
        flex-direction: column; 
        align-items: center;
    }

    .summary-item {
        width: 90%;
        margin-bottom: 20px;
    }

    .chart-section {
        flex-direction: column;
        align-items: center;
    }

    .chart-section img {
        width: 80%;
    }
}
